/*---------------------------------------*/
/* COLUMNS                               */
/*---------------------------------------*/

@if ($flexbox == true){
  .#{$container_name}{
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    flex-flow:row wrap;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-start;
  }
}
@else {
  .#{$container_name}:after {
    visibility:hidden;
    display:block;
    content:" ";
    clear:both;
    height:0;
  }
}

[class|="#{$column_prefix}"] {

  @if ($flexbox == true){
    align-self:flex-start;
    flex:none;
  }
  @else {
    float:left;
  }
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;

  @if ($grid_gutter_size > 0 and $grid_gutter_unit == "px"){
    padding:0 #{($grid_gutter_size / 2)}px;
  }

  @if ($debug == true){
    box-shadow:0 0 0 1px red inset;
  }

}

// Column generator
@for $index from 1 through $column_count {
  .#{$column_prefix}-#{$index}{   
    @if ($flexbox == true){
      flex:0 0 percentage(($index / $column_count));
    }
    @else {
      width:percentage(($index / $column_count));
    }
    @if ($debug == true and $grid_gutter_size > 0 and $grid_gutter_unit == "px"){
      box-shadow:0 0 0 1px red inset, 0 0 0 #{($grid_gutter_size / 2)}px lime inset;
    }
  }
  .#{$gap_prefix}-left-#{$index}{
    margin-left:percentage(($index / $column_count));
  }
  .#{$gap_prefix}-right-#{$index}{
    margin-right:percentage(($index / $column_count));
  }
}