/*---------------------------------------*/
/* SETTINGS                              */
/*---------------------------------------*/

// Enable Flexbox
$flexbox:true;

// Number of columns
$column_count:12;

// Column prefix
$column_prefix:"grid-column";

// Column container name (to clear floats or contain flexboxes)
$container_name:"grid-container";

// Margins for columns (Do not confuse with gutter)
$gaps:true;
$gap_prefix:"grid-gap";

// Gutters
$grid_gutter_unit:"px";
$grid_gutter_size:0;

// Viewports (size, min-width, max-width, create columns for that viewport or not)
$viewports:(s, 0, 639px, true), (m, 640px, 1024px, true), (l, 1025px, 1199px, true), (xl, 1200px, 0, true);

// For debugging purposes
$debug:false;