/*---------------------------------------*/
/* GRID SETTINGS                         */
/*---------------------------------------*/

// Number of columns
$column_number: 12;

// Spacing (in px)
$column_gutter:0;

// Highlight columns
$highlight:false;

/*---------------------------------------*/
/* VIEWPORT SETTINGS                     */
/*---------------------------------------*/

/*
  Tip
  Viewports: S - Mobile / M - Tablet and above / L - Desktop and above / XL - Big Screens and above
  The values used are are min-width, except for s that is max-width
*/

$viewport_s : 639px;
$viewport_m : 640px;
$viewport_l : 1025px;
$viewport_xl: 1200px;