/*---------------------------------------*/
/* GRID COLUMNS                          */
/*---------------------------------------*/

%column {

  float:left;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;

  @if ($column_gutter > 0){
    padding:0 #{($column_gutter / 2)}px;
  }
  @if ($highlight == true){
    border:1px solid rgba(255,255,255,0.4);
    @if ($column_gutter > 0){
      box-shadow:0 0 0 #{($column_gutter / 2)}px rgba(0,0,0,0.1) inset;
    }
  }

}

// Column generator
@for $index from 1 through $column_number {
  .col-#{$index}{   
    @extend %column;
    width:percentage(($index / $column_number));
    @if ($index == $column_number){
      clear:both;
    }
  }
}