/*- Imports ----------------------------------------------------------------*/

  @import "ocssipital/_settings.scss";
  @import "ocssipital/_mixins.scss";

/*-----------------------------------------------------------------------------------------------*/

/*- Reset ------------------------------------------------------------------*/

  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, 
  cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, 
  ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr, button, figure
  {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align: baseline; background:transparent;}   
  ol, ul {list-style:none;}
  h1, h2, h3, h4, h5, h6, li {line-height:100%;}
  blockquote, q {quotes:none;}
  table {border-collapse:collapse; border-spacing:0;}
  input, textarea, button {font-family:inherit; font-size:1em;}
  textarea {overflow:auto;}

/*-----------------------------------------------------------------------------------------------*/

/*- General ---------------------------------------------------------------*/

  body {
    font:87.5%/1.75em Courier, monospace;
    color:#000;
    background:url(../../images/bg.jpg) repeat 0 0;
  }

  [class|="grid-column"]{
    padding:0 10px;
  }

  .header a,
  .box,
  .box span,
  .download {-webkit-transition:all 0.3s;}

  code {
    font-family:inherit;
    font-size:1em;
  }

  img {
    display:block;
    width:100%;
    height:auto;
  }

  h2, h3 {
    text-transform:uppercase;
  }

  h2 {
    padding:0 0 2em 10px;
    font-weight:normal;
    letter-spacing:0.25em;
    font-size:1.5em;
    line-height:1.25em;
  }

  h3 {
    display:inline-block;
    font-weight:normal;
    font-size:1.125em;
  }

  a {

    display:inline-block;
    padding:0 0.5em;
    color:#000;
    text-decoration:none;
    background:rgba(255,255,0,0.15);

    &:hover {
      color:#FFF;
      background:rgba(0,0,0,0.75) !important;
    }

  }

  .wrap {
    clear:both;
    float:none;
    padding:3em 0;
    margin:0 auto;
    max-width:1400px;
  }

/*-----------------------------------------------------------------------------------------------*/

/*- Header ----------------------------------------------------------------*/

  .header {

    text-align:center;
    padding:6em 0 2em;

    h1 {
      font-size:4em;
      padding-bottom:0.5em;
    }

    span {
      color:#666;
    }

    a, a:hover {
      padding:0;
      background:none;
      border-bottom:1px solid;
    }

    a:hover {
      color:#000;
      background:none !important;
    }

  }

/*- Features --------------------------------------------------------------*/

.intro {

  .grid-column-12 {
    color:#FFF;
    padding:3em 2.5em;
    position:relative;
    text-shadow:1px 1px 3px rgba(0,0,0,0.4);
    min-height:450px;
    background-color:#555;
    background-size:cover;
  }

  p {
    padding-bottom:1em;
  }

  h2 {
    padding-left:0;
  }

  a {

    color:#FFF;
    background:rgba(0,0,0,0.4);

    &:hover {
      background:#000;
    }

  }

  li {
    list-style:square;
    line-height:150%;
    margin:0 0 1em 1em;
  }

  code {
    color:yellow;
  }

}

.intro-1 {
  background:url(../../images/body/body1.jpg) no-repeat 0 0;
}
.intro-2 {
  background:url(../../images/body/body2.jpg) no-repeat 0 0;
}
.intro-3 {
  background:url(../../images/body/body3.jpg) no-repeat 0 0;
}

/*-----------------------------------------------------------------------------------------------*/

/*- Grid example ----------------------------------------------------------*/

  .theGrid {

    li {
      margin-bottom:20px;
    }

    code {
      display:block;
      color:#999;
      padding:1em 0;
      text-align:center;
      border:1px solid #FFF;
    }

    @for $index from 1 through $column_count {
      .#{$column_prefix}-#{$index} code {
        background:darken(#FAFAFA, $index);
      }
    }

  }

/*-----------------------------------------------------------------------------------------------*/

/*- Usage -----------------------------------------------------------------*/

  .usage {

    pre {
      padding:1em 2em 2em;
      border:1px solid #DDD;
    }

  }

/*-----------------------------------------------------------------------------------------------*/

/*- Reference -------------------------------------------------------------*/

  .reference {

    li {
      margin-bottom:4em;
    }

    pre {
      padding:1em;
      border:2px solid #000;
    }

    em {
      color:#666;
    }

    p {
      line-height:130%;
      padding:0.5em 0 1em;
    }

    sup {
      font-size:0.638em;
      color:#999;
      margin-left:-0.5em;
    }

  }

/*-----------------------------------------------------------------------------------------------*/

/*- Lettering -------------------------------------------------------------*/

  .lettering {

    padding-top:0;

    .grid-column-1 {

      text-align:center;
      font-size:2em;
      line-height:4.25em;

      &:nth-child(even){
        background:rgba(0,0,0,0.03);
      }

    }

  }

/*-----------------------------------------------------------------------------------------------*/

/*- Thinkers --------------------------------------------------------------*/

  .thinkers {

    li {

      padding:0;
      opacity:0.75;
      transition:opacity 0.5s;

      &:hover {
        opacity:1;
      }

    }

  }

/*-----------------------------------------------------------------------------------------------*/

/*- Download now ---------------------------------------------------------*/

  .downloadNow {

    text-align:center;

    a {
      color:#FFF; 
      padding:1em 4em;
      display:inline-block;
      background:#000;
      border-radius:60px 10px;
    }

  }

/*-----------------------------------------------------------------------------------------------*/

/*- Footer ---------------------------------------------------------------*/

.footer {

  text-align:center;
  font-size:0.875em;
  color:#666;

  p {
    padding-bottom:2em;
  }

  #twitter {
    position:relative;
    top:-8px;
    margin-left:-40px;
  }

}

/*-----------------------------------------------------------------------------------------------*/

/*- Syntax Highlight -----------------------------------------------------*/

/* Code blocks */
pre[class*="language-"] {

  font-size:1.125em;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  overflow: auto;

  code {
    display:block;
    margin-top:-1em;
  }

}

.token.punctuation,
.token.tag {
  color:#F00;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.constant,
.token.symbol,
.token.deleted {
  font-weight:bold;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.atrule,
.token.function {
  color:#090;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color:#000;
  background:rgba(255,255,0,0.25);
}

.token.attr-value {

  color:#000;
  font-weight:normal;
  background:#EEE;

  .punctuation {
    background:#FFF;
  }

}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.comment {
  color:#666;
}

/*-----------------------------------------------------------------------------------------------*/

/*- Mediaqueries ---------------------------------------------------------*/

@include mediaquery(s){

  .header {
    
    padding:0;
    margin:3em 0 -1em;

    h1 {
      font-size:3em;
    }

  }

  .features .grid-column-12 {
    min-height:0;
  }

  .download {
    margin:3em 0 0;
  }

  .mainText,
  .secondaryText {
    padding-left:2em;
    padding-right:2em;
  }

  .intro {

    text-align:center;

    h2, p {
      padding-right:0;
    }

  }

}